@page "/admin/influencers"
@using MaillotStore.Components
@using MaillotStore.Data
@using MaillotStore.Models
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext DbContext

<div class="d-flex admin-dashboard-container">

    <AdminSidebar />

    <div class="main-content-dashboard flex-grow-1 p-5">
        <h1 class="text-white fw-bold mb-5">Influencer List</h1>

        <table class="table table-bordered text-white admin-table">
            <thead>
                <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">Influencer Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Sales</th>
                    <th scope="col">Commission Earned</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (influencers == null)
                {
                    <tr><td colspan="6" class="text-center"><em>Loading influencers...</em></td></tr>
                }
                else
                {
                    var serialNumber = 1;
                    @foreach (var influencer in influencers)
                    {
                        <tr>
                            <th scope="row">@(serialNumber++)</th>
                            <td>@influencer.Name</td>
                            <td>@influencer.PhoneNumber</td>
                            <td>@influencer.Commissions.Count</td>
                            <td>FCFA @(influencer.CommissionEarned.ToString("N0")) XAF</td>
                            <td>
                                <a href="/admin/view-influencer/@influencer.Id" class="btn btn-sm btn-info">View</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <nav aria-label="Product page navigation" class="d-flex justify-content-center mt-5 mb-5">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>

</div>

@code {
    private List<Influencer> influencers;

    protected override async Task OnInitializedAsync()
    {
        // We use .Include() to also load the related Commissions for each influencer
        // so we can get the total number of sales (Commissions.Count).
        influencers = await DbContext.Influencers
                                     .Include(i => i.Commissions)
                                     .ToListAsync();
    }
}